* {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 0;
    font-weight: 400;
    color: black;
}

:root {
    --main-bg: #1e2331;
    --base-bg: #111522;
    --light-bg: #0c1324;
    --second-color: #c21f27;
    --second-color-one: #e1e4eb;
}

::selection {
    background-color: var(--light-bg);
    color: white;
}

#map {
    width: 100%;
    height: 100vh;
}

.make-shbr {
    box-shadow: 0 10px 15px -6px rgba(0, 0, 0, .3);
    border: 1px solid #f1f1f1;
}

.make-navbar-bg {
    box-shadow: 0 10px 15px -6px rgba(0, 0, 0, .3);
}

.navbar {
    background-color: var(--main-bg);

    a {
        color: white;
    }
}

/*Toast*/
.toast-info {
    position: fixed;
    left: 25vw;
    top: 10vh;
    z-index: 1000;
    -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, .45);
    box-shadow: 0 80px 100px -24px rgba(0, 0, 0, .45);
    border-radius: 100px;
    display: none;
    i,
    strong,
    span {
        color: var(--light-bg);
    }

    .toast-header {
        background-color: white;
        color: var(--light-bg);
        border-bottom: none;
        border-bottom: 1px solid #f1f1f1;
    }

    .toast-body {
        background-color: white;
        color: var(--light-bg);
        ;
    }
}

.toast-sucessRestau {
    position: fixed;
    right: 2vw;
    top: 2vh;
    z-index: 1000;
    -webkit-box-shadow: 0 80px 100px -24px rgba(0, 0, 0, .45);
    box-shadow: 0 80px 100px -24px rgba(0, 0, 0, .45);
    border-radius: 100px;
    display: none;

    i,
    strong,
    span {
        color: var(--light-bg);
    }

    .toast-header {
        background-color: white;
        color: var(--light-bg);
        border-bottom: none;
        border-bottom: 1px solid #f1f1f1;
    }

    .toast-body {
        background-color: white;
        color: rgb(28, 236, 45);
        ;
    }
}

/*footer*/
.footer {
    background-color: var(--main-bg);
    z-index: 0;

    div,
    span,
    h6 {
        color: white;
    }

    i {
        color: white;
    }

    a {
        color: white;
    }
}

/*Input*/
select {
    border: none;
    border-radius: 5px !important;
    box-shadow: 0 5px 25px rgba(34, 60, 47, .1);
    outline: none !important;
}

.btn-sort {
    border-radius: 100px !important;
    background-color: var(--second-color) !important;
    border: none;

    i {
        color: white;
    }

}

//make overflow where we'll display restaurant

#restaurantsList {
    width: auto;
    height: 87vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.card-body {
    li {
        margin-left: 10px;
        margin-top: 10px;
        list-style-type: '💬';
        padding-inline-start: 1ch;

        /*&::before {
            content: "comment::";
            background: #f1f1f1;
            color: gray;
            border-radius: 1ch;
            padding-inline: 1ch;
            margin-inline-end: 1ch;
        }*/
    }
}

.btnAddComment {
    background: var(--light-bg);
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.checked {
    color: orange;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-bg);
}

/*Add comment and restaurant section*/
#addCommentError,
#addRestauError {
    color: red;
    margin:5px;
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
    .toast {
        left: 1vw;
        top: 1%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .toast {
        left: 1vw;
        top: 20%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}